In [1]:
import numpy as np
import pandas as pd


# Görselleştirme
import seaborn as sns
import matplotlib.pyplot as plt

# sql
import pyodbc
import pandas.io.sql

In [5]:
# Parameters
server = 'DESKTOP-V7B8HFS\CINARBILISIM'
db = 'CinarHost'

# Create the connection
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=DESKTOP-V7B8HFS\CINARBILISIM; DATABASE=CinarHost;Trusted_Connection=yes')

# query db

sql = "SELECT  * FROM DataAnalyst"

In [7]:
df = pandas.io.sql.read_sql(sql, conn)
df.head(2)

,id,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarters,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,Competitors,Easy_Apply
0,0,"Data Analyst, Center on Immigration and Justic...",$37K-$66K (Glassdoor est.),Are you eager to roll up your sleeves and harn...,32.0,Vera Institute of Justice\n3.2,"New York, NY","New York, NY",201 to 500 employees,1961,Nonprofit Organization,Social Assistance,Non-Profit,$100 to $500 million (USD),-1,True
1,1,Quality Data Analyst,$37K-$66K (Glassdoor est.),Overview\n\nProvides analytical and technical ...,38.0,Visiting Nurse Service of New York\n3.8,"New York, NY","New York, NY",10000+ employees,1893,Nonprofit Organization,Health Care Services & Hospitals,Health Care,$2 to $5 billion (USD),-1,-1

In [11]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2253 entries, 0 to 2252
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 2253 non-null   int64
 1   Job_Title          2253 non-null   object
 2   Salary_Estimate    2253 non-null   object
 3   Job_Description    2253 non-null   object
 4   Rating             2253 non-null   float64
 5   Company_Name       2252 non-null   object
 6   Location           2253 non-null   object
 7   Headquarters       2253 non-null   object
 8   Size               2253 non-null   object
 9   Founded            2253 non-null   object
 10  Type_of_ownership  2253 non-null   object
 11  Industry           2253 non-null   object
 12  Sector             2253 non-null   object
 13  Revenue            2253 non-null   object
 14  Competitors        2253 non-null   object
 15  Easy_Apply         2253 non-null   object
dtypes: float64(1), int64(1), object(14)
memory usage: 281.8+ KB

In [13]:
df.isnull().sum()

id                   0
Job_Title            0
Salary_Estimate      0
Job_Description      0
Rating               0
Company_Name         1
Location             0
Headquarters         0
Size                 0
Founded              0
Type_of_ownership    0
Industry             0
Sector               0
Revenue              0
Competitors          0
Easy_Apply           0
dtype: int64

In [14]:
df.sample(40)

,id,Job_Title,Salary_Estimate,Job_Description,Rating,Company_Name,Location,Headquarters,Size,Founded,Type_of_ownership,Industry,Sector,Revenue,Competitors,Easy_Apply
1428,1428,Sr. Data Analyst - Healthcare Claims,$44K-$82K (Glassdoor est.),If you are passionate about using data to tell...,42.0,Horn Solutions Inc.\n4.2,"Dallas, TX","Sugar Land, TX",1 to 50 employees,2008,Company - Private,Consulting,Business Services,$50 to $100 million (USD),-1,-1
2047,2047,Data Analyst - Int,$47K-$74K (Glassdoor est.),We have an update on the job description.\n\nP...,43.0,Abacus Service Corporation\n4.3,"Oakland, CA","Southfield, MI",501 to 1000 employees,2004,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
874,874,SAS Analyst / Data Analytics /Sr. information ...,$68K-$87K (Glassdoor est.),Job description\n\n***************************...,-10.0,Kbyte Systems LLC.,"Chicago, IL",-1,-1,-1,-1,-1,-1,-1,-1,-1
2006,2006,"Business Data Analyst Excel, Tableau - 100% Re...",$65K-$120K (Glassdoor est.),We have an immediate opportunity for Business ...,37.0,"PRIMUS Global Services, Inc\n3.7","San Francisco, CA","Irving, TX",501 to 1000 employees,2002,Company - Private,Consulting,Business Services,$10 to $25 million (USD),-1,-1
391,391,TX Healthcare Data/Reporting Analyst,$98K-$114K (Glassdoor est.),Position Summary\nA data management/analyst wh...,34.0,RN Staff\n3.4,"New York, NY","Westfield, IN",Unknown,-1,Unknown,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
2117,2117,Data Analyst,$35K-$67K (Glassdoor est.),This is Gowtham from Wipro We do have great op...,29.0,Wipro Ltd.\n2.9,"Redmond, WA","Bengaluru, India",10000+ employees,1945,Company - Public,IT Services,Information Technology,$5 to $10 billion (USD),"Cognizant Technology Solutions, Tata Consultan...",-1
92,92,Data Analyst,$51K-$87K (Glassdoor est.),RGP is a global consulting firm helping some o...,41.0,RGP\n4.1,"New York, NY","Irvine, CA",1001 to 5000 employees,1996,Company - Public,Consulting,Business Services,$500 million to $1 billion (USD),"Deloitte, Huron Consulting Group, Point B",-1
919,919,"Data Analyst (LiDar, Ortho/Imagery)",$47K-$76K (Glassdoor est.),Shift Type\n\nJob Title\n\nData Analyst (LiDar...,24.0,GeoDigital\n2.4,"Houston, TX","Atlanta, GA",51 to 200 employees,2005,Company - Private,Computer Hardware & Software,Information Technology,$25 to $50 million (USD),-1,-1
456,456,Data Analyst (Kings County),$47K-$81K (Glassdoor est.),The purpose of the Data Analyst in the Case In...,33.0,"Public Health Foundation Enterprises, In\n3.3","Hanford, CA","City of Industry, CA",1001 to 5000 employees,1968,Nonprofit Organization,Social Assistance,Non-Profit,$50 to $100 million (USD),-1,-1
719,719,Radar Telemetry Data Analyst,$42K-$63K (Glassdoor est.),Job Description: The Data Analyst will support...,-10.0,Devotion Business Solutions,"Anaheim, CA",-1,-1,-1,-1,-1,-1,-1,-1,-1
1398,1398,Sr. Business Data Analyst - Enterprise Risk,$41K-$86K (Glassdoor est.),Are you an experienced data analytics professi...,25.0,"ServiceLink, a Black Knight Company\n2.5","Dallas, TX","Pittsburgh, PA",1001 to 5000 employees,1967,Subsidiary or Business Segment,Lending,Finance,$500 million to $1 billion (USD),"Mortgage Connect, Amrock, Title365",-1
807,807,Data Analyst/Programmer,$67K-$92K (Glassdoor est.),Job Description\nPosition Summary\n\nData Anal...,25.0,ABS Graphics\n2.5,"Itasca, IL","Itasca, IL",51 to 200 employees,1982,Company - Private,Advertising & Marketing,Business Services,$25 to $50 million (USD),-1,-1
2103,2103,Business Data Analyst - Marketing,$35K-$67K (Glassdoor est.),Position Summary\n\nWe are looking for an inte...,40.0,Costco Wholesale Corporation\n4.0,"Issaquah, WA","Issaquah, WA",10000+ employees,1976,Company - Public,General Merchandise & Superstores,Retail,$10+ billion (USD),"Sam's Club, BJ's Wholesale Club",-1
192,192,"Data Analyst, Enterprise Analytics",$60K-$110K (Glassdoor est.),"Summary:\n\n\nTake-Two Interactive, Inc., a le...",37.0,"Take-Two Interactive Software, Inc.\n3.7","New York, NY","New York, NY",1001 to 5000 employees,1993,Company - Public,Video Games,Media,$1 to $2 billion (USD),"Activision Blizzard, Electronic Arts",-1
177,177,"Sr. Data Analyst, Revenue Analytics, Peacock",$43K-$76K (Glassdoor est.),"Job Title\nSr. Data Analyst, Revenue Analytics...",38.0,NBCUniversal\n3.8,"New York, NY","New York, NY",10000+ employees,1906,Company - Public,TV Broadcast & Cable Networks,Media,$10+ billion (USD),-1,-1
1265,1265,Business Data Analyst (SQL / Tableau),$76K-$122K (Glassdoor est.),Business Data Analyst (SQL Tableau) Category I...,48.0,Sayva Solutions\n4.8,"San Diego, CA","La Jolla, CA",51 to 200 employees,2014,Company - Private,Staffing & Outsourcing,Business Services,Unknown / Non-Applicable,-1,-1
528,528,Data Analyst,$55K-$103K (Glassdoor est.),Minimum 2 to 3 years of experience in data ana...,40.0,Lorven Technologies Inc\n4.0,"Los Angeles, CA","Plainsboro, NJ",1 to 50 employees,-1,Company - Private,Accounting,Accounting & Legal,Less than $1 million (USD),-1,-1
491,491,Senior Data Analyst- Secret Clearance,$49K-$112K (Glassdoor est.),Senior Data Analyst- Secret Clearance- Norfolk...,50.0,Counter Threat Solutions\n5.0,"Norfolk, VA","Reston, VA",51 to 200 employees,2015,Company - Private,Consulting,Business Services,Unknown / Non-Applicable,-1,-1
257,257,Data Analyst - QC,$73K-$127K (Glassdoor est.),Nesco Resource is seeking a Data Analyst for a...,29.0,"Nesco Resource, LLC\n2.9","New York, NY","Cleveland, OH",1001 to 5000 employees,1956,Company - Private,Staffing & Outsourcing,Business Services,$500 million to $1 billion (USD),-1,-1
581,581,Senior Data Analyst,$57K-$103K (Glassdoor est.),Position Description\nPOSITION TITLE: SENIOR D...,36.0,Superior Court of California County of Los Ang...,"Los Angeles, CA","Los Angeles, CA",1001 to 5000 employees,-1,Government,Municipal Governments,Government,Unknown / Non-Applicable,-1,-1
2250,2250,"Technical Business Analyst (SQL, Data analytic...",$78K-$104K (Glassdoor est.),"Title: Technical Business Analyst (SQL, Data a...",-10.0,Spiceorb,"Denver, CO",-1,-1,-1,-1,-1,-1,-1,-1,-1
1768,1768,Business Analyst / Data Scientist Manager,$28K-$52K (Glassdoor est.),Abbott is a global healthcare leader that help...,36.0,Abbott Laboratories\n3.6,"Columbus, OH","Abbott Park, IL",10000+ employees,1888,Company - Public,Health Care Services & Hospitals,Health Care,$10+ billion (USD),-1,-1
1587,1587,Sr. Data Analyst,$58K-$93K (Glassdoor est.),We are the Gen-Next technology solution provid...,37.0,Enquero Inc\n3.7,"Milpitas, CA","Milpitas, CA",501 to 1000 employees,2014,Company - Private,Enterprise Software & Network Solutions,Information Technology,$50 to $100 million (USD),-1,-1
909,909,Business Analyst (Data Integration/Salesforce),$29K-$38K (Glassdoor est.),My client is looking for a Business Analyst (D...,39.0,Mondo\n3.9,"Houston, TX","New York, NY",51 to 200 employees,2000,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),"Robert Half, Insight Global",-1
1470,1470,Sr. Data Analyst - Growth & Adoption,$110K-$190K (Glassdoor est.),About Us\n\nRMS' App Experience group is revol...,39.0,Risk Management Solutions (RMS)\n3.9,"Newark, CA","Newark, CA",1001 to 5000 employees,1989,Company - Private,Enterprise Software & Network Solutions,Information Technology,$100 to $500 million (USD),"AIR Worldwide, EQECAT, Verisk Analytics",-1
59,59,Data Analyst,$46K-$87K (Glassdoor est.),Data Analyst (New York)\n\nAddThis Sharing But...,39.0,Real Capital Analytics\n3.9,"New York, NY","New York, NY",51 to 200 employees,2000,Company - Private,Real Estate,Real Estate,$25 to $50 million (USD),-1,-1
1828,1828,Senior Data Analyst,$54K-$75K (Glassdoor est.),Req ID: 94674\n\nNTT DATA Services strives to ...,34.0,NTT DATA Corporation\n3.4,"Charlotte, NC","Tokyo, Japan",10000+ employees,1967,Company - Public,IT Services,Information Technology,$10+ billion (USD),"Capgemini, Accenture, Deloitte",-1
83,83,BA/Data Analyst,$51K-$88K (Glassdoor est.),"BA/Data Analyst\nOur client, a global provider...",41.0,Mitchell Martin\n4.1,"New York, NY","New York, NY",501 to 1000 employees,1984,Company - Private,Staffing & Outsourcing,Business Services,$100 to $500 million (USD),-1,-1
658,658,Senior Data Analyst,$65K-$81K (Glassdoor est.),DISQO is a next-generation consumer insights p...,47.0,DISQO\n4.7,"Glendale, CA","Glendale, CA",51 to 200 employees,2014,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,-1,-1
82,82,"Healthcare Data Analyst, Qsight",$51K-$88K (Glassdoor est.),Guidepoint's Qsight team turns rows of data in...,33.0,Guidepoint\n3.3,"New York, NY","New York, NY",501 to 1000 employees,2003,Company - Private,Research & Development,Business Services,Unknown / Non-Applicable,"Coleman Research, AlphaSights, Third Bridge",True
1050,1050,IT Data Protection Analyst,$43K-$94K (Glassdoor est.),"While we?ve been named a ?best place to work,?...",37.0,CSAA Insurance Group\n3.7,"Glendale, AZ","Walnut Creek, CA",1001 to 5000 employees,1914,Company - Private,Insurance Carriers,Insurance,Unknown / Non-Applicable,"GEICO, Allstate, State Farm",-1
1015,1015,Senior Data Analyst w/ Collibra,$46K-$102K (Glassdoor est.),Title Sr Data Analyst Location Phoenix (Remote...,50.0,Nucleusteq\n5.0,"Phoenix, AZ","Phoenix, AZ",201 to 500 employees,2018,Company - Private,IT Services,Information Technology,$10 to $25 million (USD),-1,-1
1533,1533,Bioinformatician/Research Data Analyst 1,$69K-$127K (Glassdoor est.),Situated in Stanford's\nhighly dynamic researc...,42.0,Stanford School of Medicine\n4.2,"Stanford, CA","Stanford, CA",5001 to 10000 employees,-1,College / University,Colleges & Universities,Education,Unknown / Non-Applicable,-1,-1
128,128,Data Analyst - Healthcare Provider Networks an...,$59K-$85K (Glassdoor est.),About Data Analytics at Vericred:\n\nVericred ...,29.0,Vericred\n2.9,"New York, NY","New York, NY",1 to 50 employees,2015,Company - Private,Internet,Information Technology,Unknown / Non-Applicable,-1,-1
881,881,Sr. Data Governance Business Analyst,$68K-$87K (Glassdoor est.),At least 5 years’ experience working on core D...,-10.0,Carnegie Soft,"Chicago, IL",-1,-1,-1,-1,-1,-1,-1,-1,-1
1863,1863,Marketing Data Analyst - Remote,$53K-$99K (Glassdoor est.),"Software Guidance & Assistance, Inc., (SGA), i...",-10.0,SGA Inc.,"Charlotte, NC","Bethesda, MD",1 to 50 employees,1996,Company - Private,Architectural & Engineering Services,Business Services,$1 to $5 million (USD),-1,-1
1975,1975,Data Quality Analyst,$82K-$116K (Glassdoor est.),Job Description\nFocal Systems is a fast-growi...,38.0,Focal Systems\n3.8,"Burlingame, CA","Burlingame, CA",1 to 50 employees,2015,Company - Private,Computer Hardware & Software,Information Technology,$1 to $5 million (USD),-1,-1
204,204,Data Governance Analyst,$60K-$110K (Glassdoor est.),"Software Guidance & Assistance, Inc., (SGA), i...",-10.0,SGA Inc.,"New York, NY","Bethesda, MD",1 to 50 employees,1996,Company - Private,Architectural & Engineering Services,Business Services,$1 to $5 million (USD),-1,-1
2146,2146,Configuration and Data Management Analyst,$55K-$101K (Glassdoor est.),Job Qualifications:BA/BS in a related technica...,44.0,Protingent Staffing\n4.4,"Renton, WA","Bellevue, WA",51 to 200 employees,2001,Company - Private,Staffing & Outsourcing,Business Services,$25 to $50 million (USD),-1,-1
2109,2109,Data Analyst II,$35K-$67K (Glassdoor est.),"As part of a small, passionate and accomplishe...",29.0,Blue Origin\n2.9,"Kent, WA","Kent, WA",1001 to 5000 employees,2000,Company - Private,Aerospace & Defense,Aerospace & Defense,$10 to $25 million (USD),-1,-1

In [17]:
df = df.replace('-1', np.nan)